.asset-container {
    text-align: center;
    padding: 20px;
    background-color: #000511;
    min-height: 100vh; /* Faz com que o contêiner ocupe toda a altura da tela */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.asset-container h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}

.asset-container p {
    font-size: 1rem;
    margin: 10px 0 20px;
    color: #ccc;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242D42;
    padding: 10px 20px;
    border-radius: 20px;
    width: 80%; /* Largura responsiva */
    max-width: 1080px; /* Limite máximo para largura */
    box-shadow: 0 0 30px rgba(0, 0, 255, 0.5);
    margin-bottom: 20px; /* Espaçamento de 20px entre o input e a imagem */
}

.input-container input {
    flex: 1;
    border: none;
    background-color: #242D42;
    padding: 15px;
    font-size: 1rem;
    outline: none;
    color: #fff;
}

.input-container .buy-button {
    background-color: #2d72d9;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px; /* Menor arredondamento para seguir o estilo retangular */
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-container .buy-button:hover {
    background-color: #1c54a4;
}

.start-button {
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #2d72d9;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.start-button:hover {
    background-color: #1c54a4;
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.5);
}

.img {
    width: 100%; /* Tornando a imagem responsiva */
    max-width: 980px; /* Limite máximo de largura */
    height: auto; /* Mantendo a proporção da imagem */
    margin-top: 20px; /* Espaçamento de 20px entre o botão Comprar e a imagem */
    filter: brightness(1.2); /* Aumenta a luminosidade da imagem */
    transition: filter 0.3s ease; /* Transição suave ao passar o mouse */
}

.img:hover {
    filter: brightness(1.5); /* Aumenta ainda mais a luminosidade ao passar o mouse */
}


/* Media query para telas menores */
@media (max-width: 768px) {
    .input-container {
        width: 90%; /* Mais largura em telas menores */
    }

    .asset-container h1 {
        font-size: 2rem; /* Tamanho do texto menor em telas menores */
    }

    .input-container input {
        padding: 10px; /* Menor padding para adaptar ao mobile */
    }

    .input-container .buy-button {
        padding: 8px 15px; /* Menor padding no botão em telas menores */
    }

    .img {
        width: 100%; /* Garantindo que a imagem ocupe a largura disponível */
    }
}
